<div>
  <h2>Log in</h2>
  <form action="/auth/login" method="post" class="row g-3">
    <div>
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" />
    </div>
    <br />
    <div>
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" class="form-control"/>
    </div>
    <br />
    {{#if errorMessage}}
    <span class="text-danger">{{this.errorMessage}}</span>
    {{/if}}
    <button class="btn btn-primary">Log in</button>
  </form>
</div>