<div>

  <form action="/profile/edit" method="post">

  <label for="firstName">First name: </label>
  <input type="text" name="firstName" />

  <label for="lastName">Last name: </label>
  <input type="text" name="lastName" />

  <label for="url">Choose your profile picture</label>
  <input type="file" name="url">
  <button>Load</button>


  <button>Update</button>

  </form>

</div>