<div>

  <form action="/profile/edit" method="post" enctype="multipart/form-data">

  <label for="firstName">First name: </label>
  <input type="text" name="firstName" />

  <label for="lastName">Last name: </label>
  <input type="text" name="lastName" />

  <label for="url">Choose your profile picture</label>
  <input type="file" name="url">
 

  <button>Update</button>

  </form>

</div>