<h2>Customize your profile</h2>
<div class="auth" style="margin-top: 10px">
  <div class="auth-class border border-secondary border-3 rounded" style="padding-bottom: 50px; padding-top: 60px">
    <form action="/profile/edit" method="post" enctype="multipart/form-data" class="auth-form row g-3">
      <label for="firstName" class="form-label" style="font-size: 1.25rem;">First name: </label>
      <input type="text" name="firstName" class="form-control" />
      <label for="lastName" class="form-label" style="font-size: 1.25rem;">Last name: </label>
      <input type="text" name="lastName" class="form-control" />
      <label for="url" class="form-label" style="font-size: 1.25rem;">Choose your profile picture</label>
      <input type="file" class="form-control" aria-label="file example" name="url" value="../../images/user.png" />
      <button class="btn btn-primary">Update</button>
    </form>
  </div>
</div>
<div style=" margin-top: 45px; width: 500px;">
  <a href="/profile/">
    <button class="btn btn-primary">Go back</button>
  </a>
</div>