<div class="d-flex container-fluid flex-column align-items-center mt-5">
  <h1>{{appTitle}}</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
    <div class="col"  style="padding: 0px 60px">
      <div class="card text-center" style="width: 18rem">
        <div class="card-body">
          <h3 class="card-title">Galeria de arte</h3>
          {{! <p class="card-text">Puedes crear tu propio perfil</p> }}
          <p class="card-text">Puedes realizar tus propias creaciones</p>
          <div class="card text-center" style="width: 8rem; left: 60px">
            <img src="/images/nft-img.png" class="card-img-top" alt="nft-demo" />
            <div class="card-body">
              <h5 class="card-title" style="font-size: xx-small">Naruto Uzumaki</h5>
              <h6 class="card-subtitle mb-2 text-muted" style="font-size: xx-small">Collection:</h6>
              <p class="card-text" style="font-size: xx-small">Naruto</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="padding: 0px 60px">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title">Galeria de venta</h3>
          <p class="card-text">Puedes comprar nft de otros usuarios</p>
          <br>
          <p class="card-text">y vender tus creaciones</p>
          <div class="row row-cols-1 row-cols-md-2 align-items-center">
            <div class="col" style="padding-left: 50px">
              <div class="card text-center" style="width: 3rem">
                <img src="/images/nft-img.png" class="card-img-top" alt="nft-demo" />
                <div class="card-body">
                  <h5 class="card-title" style="font-size: xx-small">..</h5>
                  <h6 class="card-subtitle mb-2 text-muted" style="font-size: xx-small">..</h6>
                  <p class="card-text" style="font-size: xx-small">..</p>
                </div>
              </div>
            </div>
            <div class="col" style="padding-left: 30px">
              <div class="card text-center" style="width: 3rem">
                <img src="/images/nft-img.png" class="card-img-top" alt="nft-demo" />
                <div class="card-body">
                  <h5 class="card-title" style="font-size: xx-small">..</h5>
                  <h6 class="card-subtitle mb-2 text-muted" style="font-size: xx-small">..</h6>
                  <p class="card-text" style="font-size: xx-small">..</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>