body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

nav {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}

a {
  color: rgb(77, 9, 114);
  text-decoration: none;
}

a:hover {
  color: bisque;
}

h1 {
  color: white;
  font-size: 5rem;
}

h2 {
  color: white;
  font-size: 4.5rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  color: white;
  font-size: 2rem;
}

span {
  color: darkmagenta;
}

.card{
  background-color: rgba(206, 191, 172, 0.7);
  border-radius: 15px;
}

.card-body {
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

.btn-primary {
  border-radius: 15px;
  width: 33%;
}

.btn-success {
  border-radius: 15px;
  width: 33%;
}

.btn-danger {
  border-radius: 15px;
  width: 33%;
}

.auth {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.auth-class {
  background-color: rgba(206, 191, 172, 0.7);
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
}

.auth-form {
  display: flex;
  justify-content: center;
}


#myBtn {
  background-color: antiquewhite;
  color: black;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 20px;
  position: relative;
  left: 95%;
}

.form-switch {
  font-size: 24px;
}

#myBtn:hover {
  background-color: bisque;
}

.vr {
  background-color: black;
  opacity: 50%;
  padding: 2px;
}

footer {
  background-color: antiquewhite;
  color: black;
  margin-top: auto;
  text-align: center;
}
